<section class="config_section" id="config">
    <h1 class="section_title" id="title">Ticket System Configuration</h1>

    <div class="config_content">

        <form (ngSubmit)="submitForm()" class="config_form">

            <div class="config_form-div">
                <label class="config_form-tag">Total Tickets:<input type="number" [(ngModel)]="config.totalTickets"
                        name="totalTickets" required>
                </label>
                <label class="config_form-tag">Ticket Release Rate:<input type="number" [(ngModel)]="config.ticketReleaseRate"
                        name="ticketReleaseRate" required></label>
                <label class="config_form-tag">Customer Retrieval Rate:<input type="number" [(ngModel)]="config.customerRetrievalRate"
                        name="customerRetrievalRate" required></label>
                <label class="config_form-tag">Max Ticket Capacity:<input type="number" [(ngModel)]="config.maxTicketCapacity"
                        name="maxTicketCapacity" required></label>
                <button type="submit" class="button button--flex">Submit</button>

            </div>
        </form>

    </div>


</section>